main {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  margin: 15rem auto;
}

.container a {
  align-self: flex-start; /* Alinha o link à esquerda */
}

.image {
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 2;
  flex-grow: 3;
}

.btn-topo {
  display: none; /* Inicialmente escondido */
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .vetor-capa {
      display: none;
  }

  .music-player {
    margin-bottom: 46rem;
    margin-left: 19rem;
}


  .triangulo {
      margin-right: -3rem;
      margin-left: -0.1rem;
  }

  #navegacao {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-left: 3rem;
  }

  nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;
      width: 100%;
      gap: 7rem;
  }

  .nav-link {
      margin-bottom: 3rem;

  }

  .year {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: 24rem;
  }

  .meses-navigation li a {
      font-size: 24px;
  }

  .vector-1d {
    display: none;
  }
}

@media only screen and (min-width: 360px) and (max-width: 599px) {
  /* Estilos responsivos para dispositivos móveis */
  .container {
      margin: 30rem auto;
  }

  .image {
      flex-grow: 1;
      flex-shrink: 1;
  }

  .festival-nav-link img {
    max-width: 100%;
    height: auto;
    display: block;

}

.imagem-festival {
    width: 159px;
}

.music-player {
    margin-bottom: 37rem;
    margin-left: 19rem;
}

.triangulo {
    margin-left: -11em;
    height: 212px;

}

.vector-programacao {
    display: flex;
    margin-left: 11.1rem;
    margin-top: 4.7rem;
}

#navegacao {
    margin-left: 4em;
}

nav {
    margin-top: 5rem;
    margin-left: 1rem;
    width: 100%;
    margin-top: -22rem;
}

.nav-link {
    margin-bottom: 3rem;
}

.festival-nav-link {
    padding-left: 10rem;
    margin-top: -2rem;

}

.festival-nav-link li {
    margin-left: -6rem;
}

.triangulo {
    padding-left: 14.6em;
    margin-top: -0.4rem;
}



.meses {
    margin-left: -36rem;
    margin-top: 49rem;
}

.meses-navigation {
    list-style-type: none;
    padding: 0;
    margin-right: 44.6rem;
}

.meses-navigation li {
    margin-bottom: 0.5rem;

}

.meses-navigation li a {
    display: block;
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    color: #000;
}

.yearImg {
    margin-left: -22rem;
    margin-bottom: -102rem;
}
}