/* Reset de margens, paddings e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importação das fontes personalizadas */

/* Gill Sans Nova Cond Ultra Bold */
@font-face {
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Nova Cond Ultra Bold'), url('GillSansCondUltraBoNova.woff') format('woff');
}

/* Gill Sans Nova Ultra Bold */
@font-face {
    font-family: 'Gill Sans Nova Ultra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans Nova Ultra Bold'), url('GillSansUltraBoNova.woff') format('woff');
}

/* Para navegadores baseados em Webkit, os pseudo-elementos devem ser definidos */
body {
    scrollbar-width: thin;
    /* Define a largura da barra de rolagem no Firefox */
    scrollbar-color: #000 #ccc;
    /* Define as cores da "pegada" e da trilha no Firefox */
    line-height: normal;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
    border: 2px solid #FFF;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 776px;
    overflow: hidden;
}

.rectangle-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.logo-capa {
    border-radius: 6px;
    background-color: #000;
    width: 699px;
    height: 263px;
    position: absolute;
    bottom: 0;
    z-index: 0;
    top: 3px;
    left: 1px;
}


.vetor-capa {
    width: 100%;
    max-width: 500px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}


/*navegação nova*/

#navegacao {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    margin-left: -33rem;
    width: 100%;

}

.nav-link {
    margin-left: 15rem;
}


.festival-nav-link {
    padding-left: 3rem;
    margin-top: -2rem;

}

.festival-nav-link li {
    list-style: none;
    padding: 0.5rem;
}

.triangulo {
    padding-left: 15em;
    margin-top: -1.1em;
}

.year {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3em;

    width: 100%;
}

.year section {
    display: flex;
}

.yearImg {
    padding-left: 6rem;

}

.meses {
    background-image: url('assets/mesesBg.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 297px;
    height: 507px;
}

.meses-list {
    margin-top: 5rem;
    padding-left: 10rem;

}

.meses-list li {
    list-style: none;
    padding-top: 1rem;
    justify-content: flex-end;
}

.meses-list li:first-child {
    padding-left: 3.7rem;
}

.mesesNav {
    padding-left: .5rem;
    width: 155px;
}

.meses-navigation {
    display: flex;
    width: 500px;
    gap: 15px;
    margin-top: -6rem;
}

.meses-navigation li {
    list-style: none;


}

.meses-navigation li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 94%;
    /* 19.74px */
    letter-spacing: -0.21px;
}


/*main*/
.festival {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 15em auto;


}

.collum,
.collum2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    height: 1187px;

}

.fest {
    width: 475px;
    margin-top: 3rem;
}

.retangulo {
    padding-top: 34px;
    width: 475px;
}

.collum p {
    width: 470px;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    /* 41.7px */
    letter-spacing: 1.2px;
    padding-top: 2rem;
    
}

.collum p span {
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 139%;
    letter-spacing: 1.2px;
}

.vetor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    margin-left: -18em;
    margin-top: 2rem;
}

/* Estilos do link */
.vetor a {
    display: flex;
    /* Torna o link um container flexível */
    align-items: center;
    /* Alinha os itens verticalmente no centro */
    color: #000;
    font-family: "Gill Sans MT";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 94%;
    /* 30.08px */
    letter-spacing: 1.28px;
    text-decoration: none;
    text-align: center;
}

/* Espaçamento entre a imagem e o texto */
.vetor a img {
    margin-right: 10px;
    /* Ajuste conforme necessário */
}

/* Estilos adicionais para o texto dentro do link */
.vetor a span {
    display: inline-block;
}

.collum2 {
    background-color: #000000;
    border-radius: 6px;
}

.centro {
    padding-top: 4rem;
    margin-left: -2rem;

}

.collum2 h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #FFF;
    width: 319px;

    font-family: "Gill Sans MT";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 1.05px;
    text-decoration: none;
    z-index: 39;
}

.collum2 img {
    padding-top: 2rem;
}

.collum2 p {
    width: 505px;
    color: #FFF;
    font-family: "Gill Sans Nova";
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 134%;
    /* 44.22px */
    letter-spacing: 1.32px;
    padding-top: 5rem;
}

#text {
    padding-top: 2rem;
    color: #FFF;
}


.festival2 {
    margin-top: -15rem;
}

.collumFoto {
    width: 716px;
    height: 643px;
}

.setas {
    display: flex;
    justify-content: flex-start;
    margin-top: 10rem;
    margin-left: -38rem;
    margin-bottom: -3rem;
}

#capuchoText {
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 23px;
    font-style: normal;
    font-weight: 300;

}



#seta2 {
    margin-left: 0;
    margin-right: -30rem;
    margin-top: 0.5rem;
}

.name {
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 146%;
    /* 33.58px */
    letter-spacing: 2.07px;
    margin-top: 5rem;
}

.name span {
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 146%;
    /* 32.12px */
    letter-spacing: 1.98px;
}

.o-festival {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 6.47%;
    top: 0;
    left: 5.37%;
    color: #000;
    font-family: "Gill Sans MT";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.9px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.35px;
    text-decoration: none;
    z-index: 38;
}

.vector-1 {
    position: absolute;
    width: 22.13%;
    height: 99.41%;
    top: 0.59%;
    left: 51.64%;
    background: url(public/images/vector-meses.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 7;
}

.rectangle {
    flex-shrink: 0;
    position: relative;
    width: 27px;
    height: 276px;
    z-index: 57;
}

.rectangle-3 {
    flex-shrink: 0;
    position: relative;
    width: 27px;
    height: 276px;
    z-index: 58;
}


.belem {
    flex-shrink: 0;
    position: relative;
    height: 20px;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 94%;
    letter-spacing: -0.21px;
    text-decoration: none;
    z-index: 44;
}

.soure {
    flex-shrink: 0;
    position: relative;
    height: 20px;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 94%;
    letter-spacing: -0.21px;
    text-decoration: none;
    z-index: 45;
}

.shape-with-text-4 {
    position: absolute;
    width: 23.85%;
    height: 62.75%;
    top: 0.78%;
    left: 76.01%;
    font-size: 0px;
    background: #000000;
    border-radius: 50%;
    z-index: 4;
}

.text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 227px;
    height: 139px;
    margin: 47px 0 0 47px;
    color: #FFF;
    text-align: center;
    font-family: "Gill Sans Nova";
    font-size: 115px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -1.265px;
    z-index: 5;

}

.shape-with-text-5 {
    position: relative;
    width: 211px;
    height: 16px;
    margin: 17px 0 0 53px;
    background: #ffffff;
    z-index: 6;
}


.button {
    position: absolute;
    width: 23.47%;
    height: 14.9%;
    top: 23.73%;
    left: 0.22%;
    cursor: pointer;
    background: #000000;
    border: none;
    z-index: 52;
}

.programacao {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36.84%;
    top: 31.58%;
    left: 12.38%;
    color: #FFF;
    font-family: "Gill Sans MT";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 94%;
    letter-spacing: -2.1px;
    text-decoration: none;
    z-index: 53;
}

.vector-programacao {
    display: flex;
    margin-left: 11.1rem;
    margin-top: 4.7rem;
}

.component {
    position: absolute;
    width: 459px;
    height: 270px;
    top: 196px;
    left: 180px;
    background: url(./assets/images/3d2975d6-2030-4b52-a251-80a98d17d4cf.png) no-repeat center;
    background-size: cover;
    z-index: 54;
}

.crato {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 3.92%;
    top: 78.04%;
    left: 70.57%;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 94%;
    letter-spacing: -0.21px;
    text-decoration: none;
    z-index: 47;
}

.fortaleza {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 3.92%;
    top: 78.04%;
    left: 77.72%;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 94%;
    letter-spacing: -0.21px;
    text-decoration: none;
    z-index: 46;
}

.jericoacoara {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 3.92%;
    top: 78.04%;
    left: 88.3%;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 94%;
    letter-spacing: -0.21px;
    text-decoration: none;
    z-index: 48;
}

.flex-row-b {
    position: relative;
    width: 1303px;
    height: 1188px;
    margin: 118px 0 0 137px;
    z-index: 55;
}

.o-festival-8 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 35.99%;
    height: 10.1%;
    top: -4rem;
    left: 0;
    color: #000;
    text-align: center;
    font-family: "Gill Sans Ultra Bold";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.88px;
    z-index: 3;
}

.shape-with-text-9 {
    position: absolute;
    width: 55.79%;
    height: 99.92%;
    top: 0.08%;
    left: 44.10%;
    font-size: 0px;
    background: #000000;
    z-index: 8;
    border-radius: 6px;
}

.centro-cultural-sambaiba-a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 419px;
    height: 249px;
    margin: 78px 0 0 99px;
    color: #FFF;
    font-family: "Gill Sans Ultra Bold";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
    /* 82.6px */
    letter-spacing: -0.77px;
    z-index: 31;
    overflow: hidden;
}

.shape-with-text-b {
    position: relative;
    width: 434px;
    height: 76px;
    margin: 57px 0 0 99px;
    background: #ffffff;
    z-index: 10;
    border-radius: 6px;
}

.firmando-nosso-compromisso {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 505px;
    margin: 56px 0 0 99px;
    color: #FFF;
    font-family: "Gill Sans Nova";
    font-size: 33px;
    font-style: normal;
    font-weight: 300;
    line-height: 134%;
    /* 44.22px */
    letter-spacing: 1.32px;
    z-index: 32;
}

.vector-c {
    position: absolute;
    width: 6.74%;
    height: 4.13%;
    top: 88.46%;
    left: 14.31%;
    background: url(public/images/conhecabranco.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 25;
}

.conheca {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 2.53%;
    top: 89.3%;
    left: 23.52%;
    color: #FFF;
    font-family: "Gill Sans MT";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 94%;
    letter-spacing: 1.28px;
    text-decoration: none;
    z-index: 9;
}

.rectangle-d {
    position: absolute;
    width: 36.45%;
    height: 5.98%;
    top: 11.03%;
    left: 0.31%;
    background: #000000;
    z-index: 55;
}

.iniciado-em {
    position: absolute;
    width: 36.07%;
    height: 36.2%;
    top: 21.04%;
    left: 0.54%;
    font-family: Gill Sans MT, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 41.7px;
    text-align: left;
    letter-spacing: 1.2px;
    z-index: 33;
}

.text-12 {
    position: relative;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    letter-spacing: 1.2px;
}

.importancia-descentralizacao-cultural {
    position: relative;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 139%;
    letter-spacing: 1.2px;
}

.vector-e {
    position: absolute;
    width: 3.76%;
    height: 4.12%;
    top: 65%;
    left: 0.77%;
    background: url(public/images/conheca.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 24;
}

.conheca-f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 2.53%;
    top: 60.69%;
    left: 5.99%;
    color: #000;
    font-family: "Gill Sans MT";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 94%;
    letter-spacing: 1.28px;
    text-decoration: none;
    z-index: 30;
}

.flex-row-10 {
    position: relative;
    width: 1327px;
    height: 649px;
    margin: 0 0 0 -1px;
    z-index: 36;
}

.rectangle-11 {
    position: absolute;
    width: 715px;
    height: 642px;
    top: 0;
    left: 0;
    background: url(public/images/fotopremio.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 11;
}

.regroup-12 {
    position: absolute;
    width: 5.73%;
    height: 100%;
    top: 0;
    left: 93.59%;
    z-index: 15;
}

.vector-13 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 69.65%;
    left: 29%;
    background: url(public/images/capucho.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 14;
}

.vector-14 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 69.65%;
    left: 79.63%;
    background: url(public/images/capucho.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 15;
}

.vector-15 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 14.64%;
    left: 59.16%;
    background: url(public/images/capucho.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 12;
}

.vector-16 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 14.64%;
    left: 62.09%;
    background: url(public/images/capucho.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 13;
}

.sonho-transformar-vida {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 452px;
    height: 297px;
    top: 17.88%;
    left: 64.69%;
    color: #000;
    font-family: "Gill Sans Nova", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: 146%;
    text-align: left;
    letter-spacing: 2.07px;
    z-index: 34;
}


.shape-with-text-17 {
    position: relative;
    width: 100%;
    height: 432px;
    margin: -44.1rem 0 0 0;
    background: #000000;
    z-index: 16;
    overflow: visible auto;
}


.flex-row-b-18 {
    position: relative;
    width: 1234px;
    height: 113px;
    margin: 69px 0 0 89px;
    z-index: 29;
}

.newsletter {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 17.18%;
    height: 53.1%;
    top: 0;
    left: 21.72%;
    color: #ffffff;
    font-family: Gill Sans Nova, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.44px;
    z-index: 17;
}

.logo-footer {
    position: absolute;
    width: 16.86%;
    height: 88.5%;
    top: 5.31%;
    left: 0;
    background: url(./assets/images/9149ab38-f954-48e1-bbad-b280c70589c2.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 21;
}

.vector-19 {
    position: absolute;
    width: 0.05%;
    height: 60.18%;
    top: 13.27%;
    left: 58.08%;
    background: url(./assets/images/157aff07-2266-4b60-832f-bfacf53a7047.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 27;
}

.inputform {
    display: flex;

}

.rectangle-1a {
    position: absolute;
    width: 456px;
    height: 68px;
    top: 30.97%;
    left: 53.9%;
    background: transparent;
    border-left: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    border-top: none;
    border-right: none;
    z-index: 29;
    padding-left: 0.5rem;
}

.seu-e-mail {
    position: absolute;
    width: 9.56%;
    height: 33.63%;
    top: 31.86%;
    left: 60.53%;
    color: #ffffff;
    font-family: Gill Sans Nova, var(--default-font-family);
    font-size: 22px;
    font-weight: 400;
    line-height: 32.12px;
    text-align: left;
    letter-spacing: 1.98px;
    z-index: 22;
    overflow: hidden;
}

.rectangle-1b {
    border: none;
    position: absolute;
    width: 9.4%;
    height: 68px;
    top: 31.86%;
    left: 90.6%;
    background: #ffffff;
    z-index: 23;
    outline: none;
}

.enviar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 79.17%;
    top: 6.25%;
    left: 15.52%;
    color: #000000;
    font-family: Gill Sans Nova, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 36.5px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 2.25px;
    z-index: 37;
}

.inscreva-se-para-receber {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 218px;
    height: 51.33%;
    top: 48.67%;
    left: 21.39%;
    z-index: 18;
    color: #FFF;
    text-align: center;
    font-family: "Gill Sans Nova";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 133%;
    letter-spacing: -0.242px;
}

.vector-1c {
    position: absolute;
    width: 28px;
    height: 13px;
    background: url(public/images/vetorNew.png) no-repeat center;
    padding-left: 64rem;
    margin-top: -4.5rem;
}

.vector-1d {
    position: relative;
    width: 527px;
    height: 26px;
    margin: 93px 0 0 110px;
    background: url(public/images/vectorpatrocinadores.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 28;
}

.patrocinios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12em;
    margin-top: 1rem;
    width: 1131px;
    height: 396px;
    flex-shrink: 0;
}

.etc {
    display: block;
    position: relative;
    height: 33px;
    margin: 167px 0 0 109px;
    color: #ffffff;
    font-family: Gill Sans Nova, var(--default-font-family);
    font-size: 19px;
    font-weight: 600;
    line-height: 27.74px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 1.71px;
    z-index: 19;
}

.rectangle-1e {
    position: absolute;
    width: 100%;
    height: 19.63%;
    top: 0;
    left: -0.07%;
    background: url(./assets/images/c6bc4542-5d9b-40cc-867b-40355b4c6e1e.png) no-repeat center;
    background-size: 100% 100%;
}

.reservados {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #000;
    width: 100%;
    height: 87px;
    text-align: left;
    font-family: 'GillSansNova-BookItalic', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
    line-height: normal;
}