/* Reset de margens, paddings e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}

/* Estilos gerais */
body {
    scrollbar-width: thin;
    scrollbar-color: #000 #ccc;
    line-height: normal;
    font-family: "Gill Sans Nova", sans-serif;
    /* Defina sua fonte padrão */
}

/* Container principal */
.main-container {
    overflow: hidden;
}

/* Garante que todos os elementos dentro de .main-container usem box-sizing: border-box */
.main-container,
.main-container * {
    box-sizing: border-box;
}

/* Remove outline padrão de inputs, selects, etc. */
input,
select,
textarea,
button {
    outline: 0;
}

/* Estilização da scrollbar para navegadores Webkit */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 776px;
    overflow: hidden;
}

.rectangle-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.logo-capa {
    border-radius: 6px;
    background-color: #000;
    width: 699px;
    height: 263px;
    position: absolute;
    bottom: 0;
    z-index: 0;
    top: 3px;
    left: 1px;
}


.vetor-capa {
    width: 100%;
    max-width: 500px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}


/*navegação nova*/

#navegacao {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    margin-left: -33rem;
    width: 100%;

}

.nav-link {
    margin-left: 15rem;
}


.festival-nav-link {
    padding-left: 3rem;
    margin-top: -2rem;

}

.festival-nav-link li {
    list-style: none;
    padding: 0.5rem;
}

.triangulo {
    padding-left: 14.6em;
    margin-top: -1em;
}


.music-player {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 46rem;
    margin-left: 89rem;
    z-index: 2;
}

.control-button {
    padding: 6px;
    font-size: 6px;
    color: #fff;
    background-color: #000000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-button:hover {
    background-color: #00000068;
}

.control-button svg {
    fill: #fff;
}

.year {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3em;

    width: 100%;
}

.year section {
    display: flex;
}

.yearImg {
    padding-left: 6rem;

}

.meses {
    background-image: url('assets/mesesBg.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 297px;
    height: 507px;
}

.meses-list {
    margin-top: 5rem;
    padding-left: 10rem;

}

.meses-list li {
    list-style: none;
    padding-top: 1rem;
    justify-content: flex-end;
}

.meses-list li:first-child {
    padding-left: 3.7rem;
}

.mesesNav {
    padding-left: .5rem;
    width: 155px;
}

.meses-navigation {
    display: flex;
    width: 500px;
    gap: 15px;
    margin-top: -6rem;
}

.meses-navigation li {
    list-style: none;

}

.meses-navigation li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 94%;
    /* 19.74px */
    letter-spacing: -0.21px;
}

/*main*/
.festival {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 15em auto;

}

.collum,
.collum2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    height: 1187px;

}

.fest {
    width: 475px;
    margin-top: 3rem;
}

.retangulo {
    padding-top: 34px;
    width: 475px;
}

.collum p {
    width: 470px;
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    /* 41.7px */
    letter-spacing: 1.2px;
    padding-top: 2rem;

}

.collum p span {
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 139%;
    letter-spacing: 1.2px;
}

.vetor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    margin-left: -18em;
    margin-top: 2rem;
}



/* Estilos do link */
.vetor a {
    display: flex;
    align-items: center;
    color: #000;
    font-family: "Gill Sans MT";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 94%;
    /* 30.08px */
    letter-spacing: 1.28px;
    text-decoration: none;
    text-align: center;
}

.vetor a img {
    margin-right: 10px;
}

.vetor a span {
    display: inline-block;
}

.collum2 {
    background-color: #000000;
    border-radius: 6px;
}

.centro {
    padding-top: 4rem;
    margin-left: -2rem;

}

.collum2 h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #FFF;
    width: 319px;
    font-family: "Gill Sans MT";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 1.05px;
    text-decoration: none;
    z-index: 39;
}

.collum2 img {
    padding-top: 2rem;
}

.collum2 p {
    width: 505px;
    color: #FFF;
    font-family: "Gill Sans Nova";
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 134%;
    /* 44.22px */
    letter-spacing: 1.32px;
    padding-top: 5rem;
}

#text {
    padding-top: 2rem;
    color: #FFF;
}


.festival2 {
    margin-top: -15rem;
}

.collumFoto {
    width: 716px;
    height: 643px;
}

.setas {
    display: flex;
    justify-content: flex-start;
    margin-top: 10rem;
    margin-left: -38rem;
    margin-bottom: -3rem;
}

#capuchoText {
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 23px;
    font-style: normal;
    font-weight: 300;

}



#seta2 {
    margin-left: 0;
    margin-right: -30rem;
    margin-top: 0.5rem;
}

.name {
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 146%;
    /* 33.58px */
    letter-spacing: 2.07px;
    margin-top: 5rem;
}

.name span {
    color: #000;
    font-family: "Gill Sans Nova";
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 146%;
    /* 32.12px */
    letter-spacing: 1.98px;
}

.conheca {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 2.53%;
    top: 89.3%;
    left: 23.52%;
    color: #FFF;
    font-family: "Gill Sans MT";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 94%;
    letter-spacing: 1.28px;
    text-decoration: none;
    z-index: 9;
}

.shape-with-text-17 {
    position: relative;
    width: 100%;
    height: 432px;
    margin: -44.1rem 0 0 0;
    background: #000000;
    z-index: 16;
    overflow: visible auto;
}


.flex-row-b-18 {
    display: flex;  
    flex-direction: column;
    
    position: relative;
    width: 1234px;
    height: 113px;
    margin: 69px 0 0 89px;
    z-index: 29;
}

.newsletter {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 17.18%;
    height: 53.1%;
    top: 0;
    left: 21.72%;
    color: #ffffff;
    font-family: Gill Sans Nova, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.44px;
    z-index: 17;
}

.logo-footer {
    position: absolute;
    width: 16.86%;
    height: 88.5%;
    top: 5.31%;
    left: 0;
    background: url(./assets/images/9149ab38-f954-48e1-bbad-b280c70589c2.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 21;
}

.inputform {
    display: flex;

}

.rectangle-1a {
    position: absolute;
    width: 456px;
    height: 68px;
    top: 30.97%;
    left: 53.9%;
    background: transparent;
    border-left: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-top: none;
    z-index: 29;
    padding-left: 0.5rem;
    color: #FFF;
    font-family: "Gill Sans Nova";
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 1.98px;
    outline: none;
}

.rectangle-1a:focus {
    border-color: #FFF;

}

.rectangle-1a::placeholder {
    color: transparent;

}

.seu-e-mail {
    position: absolute;
    width: 9.56%;
    height: 33.63%;
    top: 31.86%;
    left: 60.53%;
    color: #FFF;
    font-family: "Gill Sans Nova";
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 32.12px;
    text-align: left;
    letter-spacing: 1.98px;
    z-index: 22;
    overflow: hidden;
    margin-left: -3rem;
    margin-top: 1rem;
}

.rectangle-1b {
    border: none;
    position: absolute;
    width: 9.4%;
    height: 68px;
    top: 31.86%;
    left: 90.6%;
    background: #ffffff;
    z-index: 23;
    outline: none;

}

.enviar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 79.17%;
    top: 6.25%;
    left: 15.52%;
    color: #000000;
    font-family: Gill Sans Nova, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 36.5px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 2.25px;
    z-index: 37;
}

.inscreva {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 218px;
    height: 51.33%;
    top: 48.67%;
    left: 21.39%;
    z-index: 18;
    color: #FFF;
    text-align: center;
    font-family: "Gill Sans Nova";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 133%;
    letter-spacing: -0.242px;
}

.vector-1d {
    position: relative;
    width: 527px;
    height: 26px;
    margin: 93px 0 0 110px;
    background: url(public/images/vectorpatrocinadores.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 28;
}

.patrocinios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6rem;
    margin-top: -10rem;
    margin-bottom: -5rem;
    width: 1408px;
    height: 749px;

}

.reservados {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #000;
    width: 100%;
    height: 87px;
    text-align: left;
    font-family: 'GillSansNova-BookItalic', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
    line-height: normal;
}

/* Media Query para telas maiores até 1920px */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {}

@media only screen and (min-width: 768px) and (max-width: 1120px) {

    .logo-capa {
        border-radius: 6px;
        background-color: #000;
        position: absolute;
        bottom: 0;
        z-index: 0;
        top: 3px;
        left: 1px;
    }

    .vetor-capa {
        display: none;
    }

    .music-player {
        margin-bottom: 5rem;
        margin-left: 43rem;
    }

    .control-button {
        padding: 6px;
        font-size: 6px;
        color: #fff;
        background-color: #000000;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .control-button:hover {
        background-color: #00000068;
    }

    .control-button svg {
        fill: #fff;
    }


    .triangulo {
        margin-right: -3rem;
        margin-left: -0.1rem;
    }

    #navegacao {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 4rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        width: 100%;
        gap: 7rem;
    }

    .nav-link {
        margin-bottom: 3rem;
        /* Adiciona margem inferior para espaçamento */
    }

    .year {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 24rem;
    }

    .meses-navigation li a {
        font-size: 24px;
    }

    .festival {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .collum,
    .collum2 {
        width: 100%;
    }

    .collumFoto {
        width: 100%;
        margin-left: 1.5rem;
    }

    .patrocinios {
        width: 100%;
        margin-left: 1rem;
    }

    .flex-row-b-18 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .rectangle-1a {
        
    }
}

/* Media Query para celulares */
@media only screen and (min-width: 320px) and (max-width: 767px) {

    .logo-capa {
        border-radius: 6px;
        background-color: #000;
        width: 397px;
        height: 143px;
        position: absolute;
        top: 3px;
        left: 1px;
    }

    .vetor-capa {
        display: none;
    }

    .festival-nav-link img {
        max-width: 100%;
        height: auto;
        display: block;


    }

    .imagem-festival {
        width: 159px;
    }

    .music-player {
        margin-bottom: 37rem;
        margin-left: 19rem;
    }

    .triangulo {
        margin-left: -11em;
        height: 212px;

    }

    .vector-programacao {
        display: flex;
        margin-left: 11.1rem;
        margin-top: 4.7rem;
    }

    #navegacao {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 4em;
    }

    nav {
        margin-top: 5rem;
        margin-left: -43rem;
        width: 100%;
        margin-top: -22rem;
    }

    .nav-link {
        margin-bottom: 3rem;
    }

    .meses {
        margin-left: -36rem;
        margin-top: 49rem;
    }

    .meses-navigation {
        list-style-type: none;
        padding: 0;
        margin-right: 44.6rem;
    }

    .meses-navigation li {
        margin-bottom: 0.5rem;

    }

    .meses-navigation li a {
        display: block;
        font-size: 12px;
        font-weight: 800;
        text-decoration: none;
        color: #000;
    }

    .yearImg {
        margin-left: -25rem;
        margin-bottom: -102rem;
    }


    .festival {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 31rem;
    }

    .collum,
    .collum2 {
        width: 100%;
    }


    .centro  {
        margin-left: -3rem;
    }

    .cent {
        width: 359px;
        height: 213px;
        margin-left: 4rem;

    }

    .cent-retangulo {
        width: 360px;
        height: 76px;
        margin-left: 4rem;

    }
    .centro p {
        width: 80%;
        font-size: 28px;
        margin-left: 4rem;
        margin-top: -1rem;
        
    }

    .vetor {
        padding: 2rem;
        margin-left: -10rem;
    }

    .vetor img{
        width: 35px;
    }

    
    .fest {
        width: 375px;
        margin-top: 3rem;
    }
    
    .retangulo {
        width: 375px;
        height: 86px;
        margin-top: -1rem;
    }

    .collum p {
        width: 90%;
        font-size: 30px;

    }
    
    .collum p span {
        font-size: 28px;
        
    }

    .collumFoto {
        margin-top: -32rem;
        z-index: -1;
    }

    #capuchoText {
        width: 80%;
        font-size: 23px;
        margin-top: 1rem;
    }

    .setas {
        display: none;
    }

    .name span{
        w
    }
    

}